.blog-detail-right {
  display: grid;
  gap: 2rem;
}

.box {
  width: 100%;
  height: 200px;
  background-color: gainsboro;
}

.blog-detail-section {
  display: grid;
  padding-block: 2rem;
  gap: 2rem;
}

.blog-detail-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}


.blog-detail-image {
  min-height: 400px;
  background-color: gainsboro;
}

.blog-detail-left p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.blog-detail-heading {
  margin: 2rem 0 1rem;
}

@media (max-width: 768px) {
  .blog-detail-grid {
    grid-template-columns: 1fr;
  }

  .blog-detail-right {
    display: none;
  }
}